#{extends 'main.html' /} 
#{set title:'View Tweeters' /} 
#{set activePage:'tweeters' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
	<div class="ui grid">
		<article class="ui five wide column">

			<div class="ui hidden divider"></div>
			<div class="ui basic segment">
			  <h2 class="ui header">All Tweeters</h2>
				  <div class="ui list">
				  	#{list items: tweeters, as:'tweeter'}
					  <div class="item">
					  	<div class="user">
						  	<a href="/tweeters/addfollow/${tweeter.id}"><i class="large add user icon"></i></a> 
						  	<img src="public/images/spacer.gif" height="1" width="10" />
						  	<img class="ui avatar image" src="/tweeters/getpicture/${tweeter.email}" />
						  	<img src="public/images/spacer.gif" height="1" width="10" />
						  	${tweeter.firstName} ${tweeter.lastName}
					  	</div>
				  	#{/list}
				   	</div>
				  </div>
			  </div>
	  </article>
	  <aside class="five wide column">
		  <div class="ui hidden divider"></div>
		  <div class="ui hidden divider"></div>
		  <div class="ui hidden divider"></div>
		    <img src="/public/images/followTweet.png" class="ui medium image">
	  </aside>
	  <article class="ui five wide column">
		  <div class="ui hidden divider"></div>
		  <div class="ui basic segment">
			  <h2 class="ui header">Currently Following</h2>
	  		<div class="ui list">
			  	#{list items:followings, as:'following'}
		 		  <div class="item">
					  <div class="content">
					  	<a href="/tweeters/drop/${following.followee.id}"><i class="large remove user icon"></i></a> 
						  <img src="public/images/spacer.gif" height="1" width="10" /> 
		  				<img class="ui avatar image" src="/tweeters/getpicture/${following.followee.email}" /> 
			  			<a href="/tweets/tweetersTweets/${following.followee.id}"> 
				  		${following.followee.firstName} ${following.followee.lastName}</a>
					  </div>
				  </div>
				  #{/list}
			  </div>
		  </div>
	  </article>
	</div>
</section>