#{extends 'main.html' /} #{set title:'View TimeLine' /} #{set
activePage:'tweetList' /} #{include 'nav.html' /}

<section class="ui raised segment">
	<div class="fluid ui grid">
		<article class="seven wide column">
			<div class="ui row">
				<div class="ui hidden divider"></div>
					<a href="/Tweets/index"><input class="ui left floated blue button" type="submit" name="submit"
						value="All Tweets" />
					</a> <a href="/Tweets/myTweets"><input class="ui right floated blue button" type="submit" name="submit"
						value="My Tweets" /></a>
				<div class="ui hidden divider"></div>
			</div>
			<div class="ui row">
				<br>
				<div class="ui feed">
					#{list items: tweets, as:'tweet'}
					<div class="event">
						<div class="label">
							<img class="ui avatar image" src="/tweeters/getpicture/${tweet.tweeter.email}" />
						</div>
						<div class="content">
							<div class="summary">
								<a href="/tweets/tweetersTweets/${tweet.tweeter.id}" class="user">
									${tweet.tweeter.firstName} ${tweet.tweeter.lastName}</a>
								<div class="date">${tweet.strDate}</div>
							</div>
							<div class="extra text">${tweet.tweetText}</div>
						</div>
					</div>
					#{/list}
				</div>
			</div>
		</article>

	</div>
</section>