#{extends 'main.html' /}
#{set title:'Send a Tweet' /}
#{set activePage:'tweet' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui basic segment">
        <form action="/tweets/newTweet" method="POST">
          <div class="ui field">
          <p>
          	<strong>You have <em id="count"></em> characters remaining</strong>
					</p>
          	<textarea type="text" name="tweetText"  maxlength="140" size="35"></textarea>
          	</div>
          <button class="ui blue submit button">Tweet</button>
        </form>
      </div>
    </div>
    <div class="two wide column"></div>
    <aside class="six wide column">
     <div class="ui basic segment">
      <img src="/public/images/questionTweet.png" class="ui image">
     </div>
    </aside>
  </div>
</section>

<script src="@{'/public/javascripts/countdown.js'}"></script>