body {
  margin: 5% 5% 5% 10%;
  font-family:  Verdana, sans-serif;
  width: 80%;
  background: silver;
}

.sticky {
  width: 80%;
  margin-top: 1%;
  margin-bottom: 5%;
}

#nav {
  height: 35px;
  padding: .5%;
  font-family:  Verdana, sans-serif;
  font-size: 1em
}

#all {
  background: grey;
}

#welcomeAside {
 padding: 5%;
 float: left;
}

#signupEditSeg {
  width: 68%;
  float: left;
  padding: 3%;
  background: #eeeeee;
}

#h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: .1%;
  font-size: 2em;
}

#h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: .1%;
  font-size: 2em;
}

#welcomeText1 {
  padding: 1.4%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3.4em;
  aligned: center;
}

#welcomeText2 {
  padding: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.4em;
}

#welcomeText3 {
  padding: 1.4%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.4em;
}

#welcomeImg {
  width: 45%;
  padding: 10% 1%;
  float: right;
}

.ui.input input::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
}

#donateSeg {
  width: 85%;
  padding: 3%;
  background: #eeeeee;
}

#donateImg {
  width: 62%;
  padding: 1%;
  float: right;
}

#googleMap {
  width: 100%;
  height: 300px;
}

#reportSeg {
  width: 75%;
  padding: 0.5%;
  float: left;
  background: #eeeeee;
}

#reportImg {
  width: 24%;
  padding: 2%;
  float: right;
}

#adminSeg {
  background: #eeeeee;
}

.over {
    color: red;
}