#{extends 'main.html' /}

<div class="ui rail">
	<div class="ui fixed top sticky">
		<nav class="ui blue inverted menu">
		#{if tweeter == null} 
			<header class="header item">
			<i class="large icon"><img class="ui image"
						src="/public/images/welcome.png"></i>
				<a href="/">  MyTweet
				</a>
			</header>
			<div class="left menu">
				
					#{if activePage == 'signup'} <a
					class="ui active item" href="/signup"><i class="add user icon"></i>Signup</a>
				#{/if} #{else} <a class="item" href="/signup"><i
					class="add user icon"></i> Signup</a> #{/else} #{if activePage ==
				'login'} <a class="ui active item" href="/login"><i
					class="sign in icon"></i>Log In</a> #{/if} #{else} <a class="ui item"
					href="/login"><i class="sign in icon"></i>Log In</a> #{/else}
				#{/if} 
				#{if tweeter != null} 
				<header class="header item">
			<i class="large icon"><img class="ui image"
						src="/public/images/welcome.png"></i>
				 MyTweet
		
			</header>
				#{if activePage == 'tweetList'} 
        <a class="ui active item" href="/tweets/index"><i class="comments outline icon"></i>TweetList</a> 
        #{/if} #{else} 
        <a class="ui item" href="/tweets/index"><i class="comments outline icon"></i>TweetList</a> 
        #{/else}
        #{if activePage == 'tweeters'} 
        <a class="ui active item" href="/tweeters/index"><i class="users icon"></i>Tweeters</a> 
        #{/if} #{else} 
        <a class="ui item" href="/tweeters/index"><i class="users icon"></i>Tweeters</a> 
        #{/else}
        #{if activePage == 'tweet'} 
				<a class="ui active item" href="/tweets/tweet"><i class="comment outline icon"></i>Tweet</a> 
				#{/if} #{else} 
        <a class="ui item" href="/tweets/tweet"><i class="comment outline icon"></i>Tweet</a> 
        #{/else}  
         #{if activePage == 'edit'} 
        <a class="ui active item" href="/tweeters/edit"><i class="edit icon"></i>Edit Details</a> 
        #{/if} #{else}  
        <a class="ui item" href="/tweeters/edit"><i class="edit icon"></i>Edit Details</a> 
        #{/else} 
        <a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a> 
				#{/if}
			</div>
		</nav>
	</div>
</div>