#{extends 'main.html' /} 
#{set title:'Welcome to MyTweet' /} 
#{set activePage:'welcome' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
	<div class="ui grid">
	
		<aside class="six wide column">
			<img src="/public/images/welcomeTweet.png" class="ui medium image">
		</aside>
		<div class="middle aligned content">
			<article class="nine wide column" id="welcomeAside">
				</br>
				<header class="ui header">
					<h1>Welcome to MyTweet</h1>
				</header>
				<h3>Please <a href="/login">Log In </a> or <a href="/signup"> Sign Up</a></h3>
				</br>
				<p> Connect with your friends and other fascinating people.</br> 
						Get in-the-moment updates on the things that interest you.</br> 
						And watch events unfold, in real time, from every angle.</p>

			</article>
		</div>
	</div>
</section>