#{extends 'main.html' /}
#{set title:'Login to MyTweet' /}
#{set activePage:'login' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
  <div class="ui grid">
    <aside class="ui six wide column">
      <img src="/public/images/rightTweet.png" class="ui medium image">
    </aside>
    <div class="ui ten wide column fluid form">
      <div class="ui stacked segment">
        <form action="/authenticate" method="POST">
          <h3 class="ui header">Log in here...</h3>
          <div class="field">
            <label>Email</label> <input placeholder="Email" type="text" name="email" >
          </div>
          <div class="field">
            <label>Password</label> <input placeholder="Password" type="password"name="password">
          </div>
          <button class="ui blue submit button">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>