#{extends 'main.html' /}
#{set title:'Signup for MyTweet' /}
#{set activePage:'signup' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
          <form action="/register" method="POST">
            <h3 class="ui header">Sign Up Here...</h3>
            <div class="two fields">
              <div class="field">
                <label>First Name</label>
                <input placeholder="First Name" type="text" name="tweeter.firstName">
              </div>
              <div class="field">
                <label>Last Name</label>
                <input placeholder="Last Name" type="text" name="tweeter.lastName">
              </div>
            </div>
            <div class="field">
              <label>Email</label>
              <input placeholder="Email" type="text" name="tweeter.email">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="tweeter.password">
            </div>
            <button class="ui blue submit button">Submit</button>
          </form>
        </div>  
      </div>
      <aside class="ui five wide column">
        <img src="/public/images/leftTweet.png" class="ui medium image">
      </aside>
    </div>  
</section> 

<script src="@{'/public/javascripts/signup.js'}"></script>